* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #2c3e50;
  padding-top: 60px;
}

h1 {
  margin-bottom: 10px;
}

hr {
  width: 25%;
  margin: 50px auto;
}

.btn {
  margin-bottom: 30px;
}

.table-container {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.table {
  border-collapse: collapse;
}

.table-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 80%;
  height: 40%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.table-row {
}

.table-row:first-child .table-cell {
  border-top: 0;
}

.table-row:last-child .table-cell {
  border-bottom: 0;
}

.table-cell:first-child {
  border-left: 0;
}

.table-cell:last-child {
  border-right: 0;
}

.table-cell {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 70px;
  cursor: pointer;
}
